/* Estilo geral para a seção do produto */
.product-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #f9f9f9;
  }
  
  .product-container {
    max-width: 600px;
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .product-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .product-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Estilo para o select de tamanho */
  .size-select {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .size-select label {
    font-size: 16px;
    color: #333;
  }
  
  .size-select select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  /* Estilo para a mensagem de estoque */
  .stock-message {
    font-size: 26px;
    color: #ff4747;
    text-align: center;
    font-weight: bold;
  }
  .high-demand-message {
    font-size: 24px;
    color:#ff4747; /* Laranja para destacar a mensagem */
    text-align: center;
    font-weight: bold;
  }
  
  /* Estilo para o botão */
  .add-to-cart {
    display: flex;
    justify-content: center;
  }
  
  .add-to-cart .btn {
    padding: 12px 24px;
    background-color: #ff8c00;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-to-cart .btn:hover {
    background-color: #0056b3;
  }
  